.oneListing {
    background-color: grey;
    height: fit-content;
    width: 400px;
    
    position: relative;
    border: 1px;
    text-align: center;

    row-gap: 0px;
    
}

;

.imageClassL {
    width: 200px;
    height: 200px;
}

.imageScale {
    max-width: 200px;
    max-height: 200px;
}

.pL{
    overflow: hidden;
}